@using Microsoft.AspNetCore.Identity
@using RangeManagementSystem.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:50px">
    <p class="welcome-title">Добре дошли в </p>
    <p class="welcome-title" style="margin-top:10px">
        Range Management System
    </p>
</div>

@if (this.SignInManager.IsSignedIn(this.User))
{
    <h3 style="margin-top:10px; text-align:center">
        @this.User.Identity.Name
    </h3>
    <div class="button-container" style="display: grid; justify-content: center; margin-top: 100px">
        <button onclick="location.href='@Url.Action( "Dashboard" , User.IsInRole("Admin") ? "Admin" : "Client")'" style="margin:5px; width:300px; height:40px;">Табло</button>
    </div>
}
else
{
    <div class="text-center" style="margin-top:30px">
        <a class="btn btn-primary" href="@Url.Action("Index", "Login")">Вход</a>
        <a class="btn btn-success" href="@Url.Action("Index", "Register")">Регистрация</a>
    </div>
}
