@using Microsoft.AspNetCore.Identity
@using RangeManagementSystem.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:50px">
    <p class="welcome-title">Добре дошли в </p>
    <p class="welcome-title" style="margin-top:10px">
        Range Management System
    </p>
</div>

@if (this.SignInManager.IsSignedIn(this.User))
{
    <p class="welcome-title" style="margin-top:10px">
        @this.User.Identity.Name
    </p>
}
else
{
    <div class="text-center" style="margin-top:30px">
        <a class="btn btn-primary" href="@Url.Action("Index", "Login")">Вход</a>
        <a class="btn btn-primary" href="@Url.Action("Index", "Register")">Регистрация</a>
    </div>
}
