@page
@using RangeManagementSystem.Web.Areas.Identity.Pages.Account
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model RegisterModel
@{
    Layout = null;
}
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <title>Регистрация</title>
    <style>
        label {
            color: black;
        }
    </style>
</head>
<h1 style="text-align: center; font-size: 20px; font-weight: bold; margin-top: 10px;">Регистрация</h1>
<div style="display:flex; justify-content: center">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group" style="margin-top: 20px">
            <label>Потребителско име:</label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
        <div class="form-group" style="margin-top: 10px">
                <label>Парола:</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        <div class="form-group" style="margin-top: 10px">
                <label>Потвърди парола:</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        <div class="form-group" style="margin-top: 10px">
                <label>Е-mail:</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px; text-align: center;">Регистрирай ме</button>
        </form>
    </div>